worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;


    # HTTP в HTTPS 
    server {
        listen       80;
        server_name  project1.local project2.local;
        return 301 https://$host$request_uri;
    }

    # Project 1 - HTTPS
    server {
        listen       443 ssl;
        server_name  project1.local;

        # Пути к сертификатам (обрати внимание на прямые слеши!)
        ssl_certificate      C:/ITMO/Lab1/nginx/conf/ssl/selfsigned.crt;
        ssl_certificate_key  C:/ITMO/Lab1/nginx/conf/ssl/selfsigned.key;

        location / {
            root   html/project1;
            index  index.html index.htm;
        }
    }

    # Project 2 - HTTPS
    server {
        listen       443 ssl;
        server_name  project2.local;

        ssl_certificate      C:/ITMO/Lab1/nginx/conf/ssl/selfsigned.crt;
        ssl_certificate_key  C:/ITMO/Lab1/nginx/conf/ssl/selfsigned.key;

        location / {
            root   html/project2;
            index  index.html index.htm;
        }

        # Alias
        location /docs/ {
            alias C:/ITMO/Lab1/Hidden_Storage/; 
            autoindex on;
        }
    }
}
